<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cool School</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext'
          rel='stylesheet'
          type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" id="nav_top">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img id="imgLogo" src="{% static 'img/logo2.png' %}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-5" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if current_page_name != "Główna" %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page">{{ current_page_name }}</a>
                    </li>
                {% endif %}
                {% for page_name, page_url in default_pages_dict.items %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url page_url %}">{{ page_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            {% if current_page_name == "Główna" %}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 id="whiteboard_title">Aktualności</h1>
                        </div>
                    </div>
                </div>
                <div class="container" id="whiteboard">
                    <div class="row">
                        <div class="col-3">
                            <img id="imgWhiteboard" src="{% static 'img/tarcza.jpg' %}">
                        </div>
                        <div class="col-9">
                            <ul class="list-group">
                                {% for news_article in news_articles %}
                                    <li class="list-group-item"><a href="{% url 'news' %}#article_{{ news_article.id }}">{{ news_article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 id="whiteboard_title">Nasze mocne strony</h1>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for article in articles %}
                <article>
                    <h1 id="article_{{ article.id }}">{{ article.title }}</h1>
                    {{ article.content|safe }}
                </article>
            {% endfor %}
        </div>
        <div class="col-2">
        </div>
    </div>
</div>


</body>
</html>