<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cool School</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext'
          rel='stylesheet'
          type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" id="nav_top">
        <a class="navbar-brand" href="#"><img src="./img/logo2.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-5" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Aktualności</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kursy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Regulamin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Polityka Prywatności</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            Witaj w Cool School - Twojej bramie do opanowania języka angielskiego!

            W Cool School jesteśmy oddani zapewnieniu wysokiej jakości edukacji z zakresu języka angielskiego dla
            uczniów w każdym wieku i o różnym poziomie zaawansowania. Niezależnie od tego, czy jesteś początkującym,
            który chce rozwijać podstawowe umiejętności komunikacji, czy zaawansowanym uczniem, który dąży do
            doskonalenia biegłości, nasi doświadczeni instruktorzy są tutaj, aby prowadzić Cię na każdym etapie nauki.

            Dlaczego warto wybrać Cool School:
            - Doświadczeni Instruktorzy: Nasz zespół wykwalifikowanych i certyfikowanych nauczycieli języka angielskiego
            posiada lata doświadczenia w nauczaniu. Są z pasją zaangażowani w Twoją sukces w nauce języka.

            - Kompleksowy Program Nauczania: Nasz starannie opracowany program nauczania obejmuje wszystkie aspekty
            nauki języka angielskiego, w tym gramatykę, słownictwo, mówienie, słuchanie, czytanie i pisanie.
            Dostosowujemy nasze kursy do Twoich konkretnych potrzeb i celów.

            - Interaktywna Nauka: Nauka angielskiego w Cool School jest angażująca i interaktywna. Nasze zajęcia są
            zaprojektowane tak, aby były zarówno zabawne, jak i edukacyjne, z liczba okazji do praktykowania mówienia i
            słuchania.

            - Niewielkie Grupy: Wierzymy w indywidualne podejście. Dlatego też utrzymujemy niewielkie grupy, aby
            zapewnić Ci indywidualne wsparcie i kierowanie.

            - Elastyczny Grafik: Rozumiemy, że życie bywa zabiegane. Dlatego oferujemy elastyczne harmonogramy zajęć,
            dostosowane do Twojego stylu życia.

            Dołącz do nas w Cool School i rozpocznij swoją przygodę z opanowywaniem języka angielskiego. Czy
            przygotowujesz się do egzaminu z angielskiego, chcesz rozwijać swoją karierę, czy po prostu chcesz
            komunikować się z pewnością siebie, Cool School to miejsce dla Ciebie.

            Skontaktuj się z nami jeszcze dziś, aby dowiedzieć się więcej o naszych kursach i opcjach zapisu.
            Rozpocznijmy razem Twoją przygodę z językiem angielskim!

        </div>
        <div class="col-2">
        </div>
    </div>
</div>


</body>
</html>